{% extends "layout.njk" %}
{% block  content %}
  <h1>content</h1>
  <a class="btn" href="/users/signout">
    Sign ut
  </a>
  <img src="https://picsum.photos/480/241" class="rounded float-start" alt="...">
<img src="https://picsum.photos/480/240" class="rounded float-end" alt="...">
{% endblock %}
