{% extends "layout.njk" %}
{% block  content %}
    <h1>Index</h1>
    <a style="text-decoration:none" href="/users/signin">
        <button class="btn btn-danger">signin yoo</button>
    </a>
    <a href="/users/signup">
        <button class="btn btn-warning">signup</button>
    </a>
{% endblock %}